files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <IfModule mod_headers.c>
        <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|svg|font.css|css|js)$">
          Header set Access-Control-Allow-Origin "*"
          Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
          Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept, X-Requested-With"
          Header set Access-Control-Allow-Credentials: true
        </FilesMatch>
      </IfModule>
